<%= form_for [:admin, @course, @event] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Start Date (YYYY-MM-DD)" %>
    <%= f.text_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date, "End Date (YYYY-MM-DD)" %>
    <%= f.text_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.text_field :credit %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>