<%= form_for [:admin, @course, @event] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_year %>
    <%= f.text_field :start_year %>
    <%= f.label :start_month %>
    <%= f.text_field :start_month %>
    <%= f.label :start_day %>
    <%= f.text_field :start_day %>
  </div>

  <div class="field">
    <%= f.label :end_year %>
    <%= f.text_field :end_year %>
    <%= f.label :end_month %>
    <%= f.text_field :end_month %>
    <%= f.label :end_day %>
    <%= f.text_field :end_day %>
  </div>

  <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media %>
  </div>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.text_field :credit %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>